/* TODO Add site wide styles */
@import 'home.css';
@import 'about.css';
@import 'skills.css';
@import 'projects.css';
@import 'transitions.css';
@import 'navbar.css';
@import 'footer.css';

html,
body,
#root,
.view-body {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #a4508b;
    /* background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); */
    font-family: Verdana,Helvetica,Arial,sans-serif;
    overflow: hidden;
}

.main-body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 12fr 2fr;
}