/* TODO Add site wide styles */
@import 'home.css';
@import 'transitions.css';

html,
body,
#root,
.view-body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: Verdana,Helvetica,Arial,sans-serif;
}